<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The only to do list you need!</title>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro" rel="stylesheet">  <link href="/styles/layout.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
      let category = $(ev.target).attr('id')
      $.post('/posts/edit', {
        id: data,
        newCategory: category
      }, function () {
        return console.log("sent")
      })
    }

  </script>


</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
      <img src="magic-wand-auto-fix-button.png"/>

       Smart List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Hi Thomas!
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">What's on your mind?</h1>
      <form action="/" method="post">
        <div class="form-group">
          <h5 for="exampleFormControlTextarea1">Quickly add items and we'll categorize it.</h5>
          <textarea name="list" class="form-control" id="input" rows="3"></textarea>
        </div>
        <input type="submit" class="ghost-button" value="Add it to list!">
      </form>
      <!-- <a href="#" class="btn btn-primary btn-lg">Add!</a> -->
    </header>
    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86c8c1fd5e9e5b384696472a095c42ac&auto=format&fit=crop&w=1050&q=80"
            alt="">
          <h4 class="card-title">To Eat</h4>
          <div ondrop="drop(event)" ondragover="allowDrop(event)" class="card-body" id="Food">
            <div class="list-group">
              <button draggable="true" ondragstart="drag(event)" type="button" id="p1">
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2405fa5a688f4c925fa1b8f6959174f8&auto=format&fit=crop&w=1050&q=80"
            alt="">
          <h4 class="card-title">To Watch</h4>
          <div ondrop="drop(event)" ondragover="allowDrop(event)" class="card-body" id="Movie">
            <div class="list-group">
              <button draggable="true" ondragstart="drag(event)" type="button" id="p2">
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4ed09f54e45802124a212b6163dec174&auto=format&fit=crop&w=1500&q=80"
            alt="">
          <h4 class="card-title">To Read</h4>
          <div ondrop="drop(event)" ondragover="allowDrop(event)" class="card-body" id="Book">
            <div class="list-group">
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=828346ed697837ce808cae68d3ddc3cf&auto=format&fit=crop&w=1050&q=80"
            alt="">
          <h4 class="card-title">To Buy</h4>
          <div ondrop="drop(event)" ondragover="allowDrop(event)" class="card-body" id="Product">
            <div class="list-group">
              <button draggable="true" ondragstart="drag(event)" type="button" id="p4">
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ae83373fe7bf60aaf6ceb8daa337fc9&auto=format&fit=crop&w=1514&q=80"
            alt="">
          <h4 class="card-title">Other</h4>
          <div ondrop="drop(event)" ondragover="allowDrop(event)" class="card-body" id="Other">
            <div class="list-group">
              <button draggable="true" ondragstart="drag(event)" type="button" id="p5">
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Made with love and no sleep</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
